*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* Définir la taille de base de la police */
  // font-size: 24px;
}

body {
  /* Choisir une police générique */
  // font-family: Montserrat, sans-serif;
  // color: #000;
}

a {
  text-decoration: none;
  color: $info;
  font-weight: 400;
}
a:hover {
  font-weight: 700;
}

ul {
  list-style: none;
}
