$tablette: 1024px;
$mobile: 780px;

// Variables
$primary: #057195;
$secondary: #6d98ba;
$dark: #053650;
$light: #f5ffff;
$success: #95c623;
$danger: #f93234;
$info: #011e2e;
$warning: #011e2ec7;

$bs-main: 0px 4px 5px rgba(0, 0, 0, 0.5);
